{% extends "base.html" %}

{% block title %}
  Feeds - feed50
{% endblock %}

{% block main %}
  <h2>My Feeds</h2>
  <div class="table responsive">
    <table class="table">
      <tbody>
        {% for feed in feeds %}
        <tr>
          <td>{{ feed.feed_name }}</td> <!-- TODO: Make this a link to a /view/post_id route -->
          <td class="table-url">{{ feed.feed_url }}</td>
          <td><a href="{{ url_for('rename', feed_id=feed.id) }}">Rename</a></td>
          <td><a href="{{ url_for('remove', feed_id=feed.id) }}" style="color: red">Remove</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{{ url_for("add") }}" class="btn btn-primary">Add Feed</a>
  </div>
{% endblock %}